<div class="row" style="align-self: center;">
    <div class="col-md-3" style="margin: 2%;">
        <div class="row">
            <button type="button" class="btn btn-dark" (click)="onNewTaskButtonPressed('allowed')">New Task</button>
            <p></p>
            <ul class="list-group" *ngFor="let task of tasks; let i = index" style="margin: 1%;">
                <app-tasklist [task]="task" [index]="i" (indexGiven)="gatherIndex($event)"></app-tasklist>
            </ul>
        </div>
    </div>
    <div class="vr"></div>
    <div class="col-md-8" style="margin: 1%;">
        <app-task-details *ngIf="newTaskChoice === 'not allowed' && indexedItem.getId() !== 0" 
        [indexedItem]="indexedItem" (editedTask)="editTaskOnDataSource($any($event))"></app-task-details>
        <app-new-task *ngIf="newTaskChoice === 'allowed'" (onTaskCreated)="addNewTask($any($event))" 
        (onNewTaskCancelled)="taskCreationCancelled($event)"></app-new-task>
    </div>
</div>